
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(assets/mars2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: game-font;
    src: url(font/PressStart2P-Regular.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: game-font;
    color: rgb(155, 155, 155);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    font-size: 20px;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    /* width: 500px;
    height: 580px; */
}

.game {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.game .laser {
    position: absolute;
    margin-left: -2.5px;
    height: 30px;
    z-index: -1;
}

.game .enemy {
    position: absolute;
}

.game .enemyLaser {
    position: absolute;
    margin-left: -2.5px;
    height: 20px;
    /* default z-index is 0*/
    z-index: -1;
  }

.game-over {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.win {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    
    
}

.pause {
    color:black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.start {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 100%;

}
